body
    font-family: "Open Sans", Arial, sans-serif

.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px 0 15px
    position: relative
    z-index: 1

// ======================================================HEADER

.header
    position: relative
    background-image: url("../img/banner-bg.jpg")
    @include img-bg
    &::after
        @include mask-after

.menu
    @include flexible
    padding-top: 30px
    &-burger
        display: none

.logo
    width: 180px
    &-mobile
        display: none

.items
    display: flex

.item-link
    @include fontz(400, 13px, #ffffff, 1)
    margin-left: 35px
    text-transform: uppercase

.title-header
    margin: 0 auto
    max-width: 690px
    &-text
        padding: 100px 0 130px 0
        text-align: center
        @include fontz(700, 45px, #ffffff, 1.6)
        text-transform: uppercase

// =========================================================POPUP

.form-wrapper 
    @include hidden
    position: fixed
    display: flex
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 10

.popup
    position: relative
    display: block
    max-width: 391px
    padding: 30px 25px 30px 25px
    flex-grow: 1
    margin: auto
    background-color: #ffffff
    &-cross
        position: absolute
        width: 19px
        top: -26px
        right: 0
    &-title
        text-align: center
        @include title
        &::after
            @include title-line
    &-choose
        display: block
        padding-left: 20px
        margin-top: 9px
        width: 100%
        height: 47px
        @include appearance
        background-color: #ececec
        @include fontz(400, 15px, #828483, 1)
        background-image: url(../svg/form-arrows.svg)
        background-repeat: no-repeat
        background-size: 8px
        background-position: right 14px center
    &-mail
        margin-top: 34px
        &-choose
            margin-top: 10px
        &-no
            margin-left: 15px
    &-no-yes
        &::before
            @include before-after
            width: 18px
            height: 18px
            background-image: url("../svg/form-empty-circle.svg")
            background-size: 18px
            margin-right: 5px
    &-check
        @include hidden
    &-text
        display: block
        margin-top: 34px
    &-field
        min-width: 100%
        max-width: 100%
        min-height: 130px
        max-height: 130px
        padding: 20px
        margin-top: 10px
        margin-bottom: 26px
        @include appearance
        background-color: #ececec
        &::placeholder
            font-size: 15px
        
.popup-check:checked ~ .popup-no-yes::before
    background-image: url("../svg/form-circle.svg")





// ======================================================MAIN-TREND

.main
    margin-top: 60px

.trend
    &-title
        text-align: center
        @include title
        &::after
            @include title-line
    &-wrapper
        display: flex
        min-height: 320px
    &-block
        position: relative
        display: flex
        width: calc(25% - 3px)
        @include img-bg
        &:nth-child(n+2)
            margin-left: 4px
        &::after
            @include mask-after
        &-1
            background-image: url("../img/trend1.jpg")
        &-2
            background-image: url("../img/trend2.jpg")
        &-3
            background-image: url("../img/trend3.jpg")
        &-4
            background-image: url("../img/trend4.jpg")
    &-desc
        align-self: flex-end
        flex-grow: 1
        margin: 14px 18px
        z-index: 1
        &-content
            text-align: left
            padding: 32px 30px
            border: 2px solid $color-gold
    &-subtitle
        margin-top: 12px
        a
            @include title
            color: #ffffff

.tags
    display: flex

.tag
    &:nth-child(n + 2)
        margin-left: 15px
    &-link
        @include fontz(700, 14px, $color-gold, 1)
        text-transform: uppercase
        &:hover
            text-decoration: underline


// ========================================================MAIN
        
.container-main
    display: flex
    justify-content: space-between
    margin-top: 64px

.news-box
    flex-grow: 1

.news
    @include flexible
    align-items: start
    &:nth-child(n + 2)
        margin-top: 60px
    &-foto
        width: 381px
    &-block
        margin-left: 30px
    &-title
        margin-top: 10px
        @include title
        a:hover
            color: $color-gold
    &-text-part
        margin-top: 47px
    &-text-wrap
        margin-top: 12px

.data
    display: flex
    margin-top: 30px

.day
   @include fontz(400, 12px, #888888, 1) 

.author
    margin-left: 13px
    @include fontz(700, 12px, #000000, 1)
    &:hover
       text-decoration: underline 

.text
    @include fontz(400, 15px, $color-text, 1.46) 
        
// ======================================================ASIDE

.aside
    flex-shrink: 0
    width: 270px
    margin-left: 135px
    &-title
        @include title-aside
        a
            color: $color-text
        &-stressed
            text-align: center
            &::after
                @include title-line
        &-color
            margin-top: 7px
            a:hover
                color: $color-gold
    &-post
        display: flex
        align-items: start
        &:nth-child(n + 2)
            margin-top: 21px
    &-img
        width: 70px   
    &-block
        margin-left: 17px

.search
    @include appearance
    display: inline-block
    margin-top: 65px
    font-size: 0
    &-text
        width: 222px

.input-text
    height: 48px
    padding-left: 18px
    background-color: $color-gris
    &::placeholder
        font-size: 14px
        font-weight: 400
    &:focus
        padding-left: 10px
        padding-right: 10px
        border-bottom: 1px solid #ebe7d7

.btn
    @include btn
    &:hover
        background-color: #323232
    &-search
        width: 48px
        vertical-align: top
        @include img-bg
        background:
            color: $color-gold
            image: url("../svg/search.svg")
            size: 18px
    &-subscribe
        margin-top: 17px
        

.screen-reader
   @include visually-hidden

.mailing
    margin-top: 56px 

.subscribe
    @include appearance
    &-text
        width: 100%

.tags-block
    margin-top: 57px
    &-items
        display: flex
        flex-wrap: wrap
    &-item
        border: 3px solid #eeeeee
        margin: 0 5px 10px 0
        padding: 4px 14px 4px 14px
        font-size: 12px
        font-weight: 700
        text-transform: uppercase
        &:hover
            border: 3px solid $color-gold
    &-link
        color: $color-text
        
.themes
    margin-top: 48px
    &-items
        margin-top: -17px
    &-item
        padding: 14px 0
        width: 100%
        border-bottom: 1px solid #eeeeee
        font-size: 14px
        font-weight: 700
    &-link
        color: #000000
        &:hover
            color: $color-gold
        &-number
            vertical-align: super
            @include fontz(700, 14px, $color-gold, 1) 

// ======================================================CATALOG

.catalog
    margin-top: 64px
    &-title
        text-align: center
        @include title
        &::after
            @include title-line
    &-subtitle
        @include title
    &-wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &-block
        display: flex
        flex-direction: column
        width: 30%
        padding-top: 5px
        padding-left: 23px
        padding-right: 23px
        &-img
            widows: 100%
    &-desc
        flex-grow: 1
        outline: #d3c59d solid 3px
        outline-offset: 23px
    &-content
        padding-top: 20px
        @include fontz(400, 15px, $color-text, 1.46)
        .text
            margin-top: 3px
    &-link
        color: $color-gold
        &:hover
            text-decoration: underline
            cursor: pointer
    &-shopping
        @include flexible
        margin-top: 23px
    &-price
        font-weight: 700
        &-stock
            font-size: 14px
            text-decoration: line-through
        &-rub
            font-size: 20px
    &-btn
        width: 140px

// ======================================================FOOTER

.footer
    margin-top: 92px
    text-align: center

.socials
    padding: 31px 0
    background-color: $color-gris
    &-item
        display: inline-block
    &-link 
        display: inline-block
        margin-left: 10px
        margin-right: 10px
        height: 24px
        width: 24px
        background: 
            color: $color-gris
            repeat: no-repeat
            position: center
            size: 20px
        &-text
            @include hidden
        &-twitter
            background-image: url("../svg/004-twitter.svg")
        &-pinterest
            background-image: url("../svg/001-pinterest.svg")
        &-facebook
            background-image: url("../svg/002-facebook-logo.svg")
        &-instagram
            background-image: url("../svg/005-instagram.svg")
        &-tumblr
            background-image: url("../svg/003-tumblr.svg")

.copyright
    padding-top: 45px
    padding-bottom: 39px
    font-size: 12px
    font-weight: 700
    a
      color: #999999

.llc 
    text-transform: uppercase   


